.info-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (min-width: 900px) {
  .info-page {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding-top: 0.5rem;

    .rich-text {
      max-width: calculate-rem(510px);

      p {
        margin-bottom: 1.5rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1.25rem;
      }
    }
  }
}
