.bottle-viewer-header {
  position: relative;
  margin-bottom: 0.75rem;

  .bottle-viewer-header-bottles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.75rem;
    max-width: 25rem;
    margin: 0 auto;
  }

  .bottle-viewer-header-grass {
    overflow: hidden;
    width: 100%;
    height: 0.625rem;
    position: absolute;
    left: 0;
    bottom: 0.625rem;
    z-index: -1;

    svg {
      max-width: none;
      position: absolute;
      display: block;
      width: 50rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.bottle-viewer {
  .bottle-viewer-month {
    &:first-of-type {
      .bottle-viewer-month-button {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
      }
    }

    &:last-of-type {
      .bottle-viewer-month-button {
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        border-bottom: 1px solid $grey-light;

        &.active {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid $blue-dark;
        }
      }

      .bottle-viewer-month-content {
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }

    .bottle-viewer-month-button {
      @include button-preset;
      border: 1px solid $grey-light;
      border-bottom: none;
      cursor: pointer;
      display: block;
      font: 600 1rem/1rem $font-secondary;
      letter-spacing: 2px;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      padding: 1rem 1rem 0.75rem;
      background-color: white;

      @media (hover: hover) {
        &:hover {
          background-color: $grey-extra-light;
        }
      }

      &:focus {
        background-color: $grey-extra-light;
      }

      &.active {
        background-color: $blue-dark;
        color: white;
        border: none;
        border-bottom: 0.25rem $green solid;
        padding: calculate-rem(17px) calculate-rem(17px) 0.75rem;

        @media (hover: hover) {
          &:hover {
            background-color: $blue-dark;
          }
        }

        &:focus {
          background-color: $blue-dark;
        }
      }
    }

    .bottle-viewer-month-content {
      display: none;
      grid-template-columns: 3.5rem 1fr;
      gap: 1.5rem;
      border: 1px solid $grey-light;
      padding: 0.75rem 1rem 0.25rem;
      animation: fadeIn 500ms ease-in;

      &.active {
        display: grid;
      }

      .bottle-viewer-month-content-bottle {
        position: relative;
        padding: 0 0.375rem;

        .bottle-viewer-month-content-bottle-grass {
          width: 1rem;
          position: absolute;
          bottom: 0;

          &:first-of-type {
            left: 0;
            z-index: -1;
          }

          &:last-of-type {
            right: 0;
          }
        }
      }

      .heading-small {
        margin-bottom: 0.375rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .bottle-viewer-header {
    margin-bottom: 1.5rem;

    .bottle-viewer-header-bottles {
      max-width: 40rem;
      gap: 1.5rem;
    }

    .bottle-viewer-header-grass {
      height: 0.875rem;
      bottom: 0.875rem;

      svg {
        width: 1350px;
      }
    }
  }

  .bottle-viewer {
    .bottle-viewer-month {
      .bottle-viewer-month-content {
        padding: 1rem 1.5rem 0.5rem 1.5rem;
        grid-template-columns: 4.5rem 1fr;
        gap: 2.5rem;

        .bottle-viewer-month-content-bottle {
          padding: 0 0.5rem;

          .bottle-viewer-month-content-bottle-grass {
            width: 1.5rem;

            &:first-of-type {
              bottom: 0.5rem;
            }

            &:last-of-type {
              bottom: -0.25rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .bottle-viewer {
    position: relative;
    max-width: 60rem;
    margin: 2rem auto 0;

    .bottle-viewer-month {
      width: 100%;

      &:first-of-type {
        .bottle-viewer-month-button {
          border-top-right-radius: 0;
        }
      }

      &:last-of-type {
        .bottle-viewer-month-button {
          border-bottom-left-radius: 0.75rem;
          border-bottom-right-radius: 0;

          &.active {
            border-bottom-left-radius: 0.75rem;
          }
        }

        .bottle-viewer-month-content {
          border-bottom-left-radius: 0;
        }
      }

      .bottle-viewer-month-button {
        width: 15rem;
        padding: 1.25rem 1.75rem 1rem;

        &.active {
          border-bottom: none;
          border-right: 0.25rem $green solid;
          padding: 1.25rem 1.5rem 1rem 1.75rem;
        }
      }

      .bottle-viewer-month-content {
        width: calc(100% - 15rem);
        height: calculate-rem(318px);
        overflow: auto;
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        border-left: none;
        position: absolute;
        left: 15rem;
        top: 0rem;
        padding: 1.5rem 2.5rem 1rem;
        grid-template-columns: 5rem 1fr;
        gap: 2.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .bottle-viewer-header {
    margin-bottom: 3rem;

    .bottle-viewer-header-bottles {
      max-width: 60rem;
      gap: 2rem;
    }

    .bottle-viewer-header-grass {
      height: 1.125rem;
      bottom: 1.125rem;

      svg {
        width: 1720px;
      }
    }
  }

  .bottle-viewer {
    margin-top: 2rem;

    .bottle-viewer-month {
      .bottle-viewer-month-button {
        padding: 1.5rem 1.75rem 1.25rem;

        &.active {
          padding: 1.5rem 1.5rem 1.25rem 1.75rem;
        }
      }

      .bottle-viewer-month-content {
        height: calculate-rem(366px);
        grid-template-columns: 7rem 1fr;
        gap: 3rem;
        padding: 1.5rem 2.5rem 1rem 3rem;

        .bottle-viewer-month-content-bottle {
          padding: 0 0.75rem;

          .bottle-viewer-month-content-bottle-grass {
            width: 1.75rem;
          }
        }
      }
    }
  }
}
