%button {
  @include button-preset;
  border-radius: 0.75rem;
  padding: 1.125rem 1.5rem 1rem;
  font: 600 1rem/1rem $font-secondary;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.button-blue {
  @extend %button;
  background-color: $blue-dark;
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: $blue-extra-dark;
    }
  }
}

.button-white {
  @extend %button;
  background-color: white;
  color: $blue-dark;

  &.button-white-border {
    border: 1px solid $grey-light;
  }
}

.button-green {
  @extend %button;
  background-color: $green;
  color: $blue-dark;
}

.button-circle {
  @include button-preset;
  border-radius: 50%;
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;

  span {
    color: $blue-dark;
    display: block;
  }

  &.button-circle-light-icon {
    span {
      color: $grey-medium;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $grey-light;
    }
  }

  &:focus {
    background-color: $grey-light;
  }
}
