%button {
  @include button-preset;
  border-radius: 0.75rem;
  padding: 1.125rem 1.5rem 1rem;
  font: 600 1rem/1rem $font-secondary;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.button-blue {
  @extend %button;
  background-color: $blue-dark;
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: $blue-extra-dark;
    }
  }
}

.button-white {
  @extend %button;
  background-color: white;
  color: $blue-dark;

  &.button-white-border {
    border: 1px solid $grey-light;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $grey-light;
    }
  }

  &:focus {
    background-color: $grey-light;
  }
}

.button-green {
  @extend %button;
  background-color: $green;
  color: $blue-dark;
}

.button-circle {
  @include button-preset;
  border-radius: 50%;
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;

  span {
    color: $blue-dark;
    display: block;
  }

  &.button-circle-light-icon {
    span {
      color: $grey-medium;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: $grey-light;
    }
  }

  &:focus {
    background-color: $grey-light;
  }
}

.button-link-arrow {
  @extend %button;
  text-align: left;
  padding: 0.75rem 2.75rem 0.75rem 0;
  position: relative;
  transition: padding-right 150ms ease-in;

  @media (hover: hover) {
    &:hover {
      padding-right: 3.25rem;
    }
  }

  &:after {
    font-family: "icomoon";
    content: "\e900";
    font-size: 1.625rem;
    color: $blue-dark;
    position: absolute;
    right: 0;
    top: 0.625rem;
  }
}

.button-link {
  @include button-preset;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }

  &:focus {
    text-decoration: none;
  }
}
