.how-to-video {
  width: 100%;
  padding-bottom: 75%;
  margin: 0 auto;
  position: relative;

  &.how-to-video-page {
    margin-bottom: 2rem;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .how-to-video {
    padding-bottom: 0;
    width: 30rem;
    height: 22.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .how-to-video {
    margin-top: 2.5rem;
    width: 40rem;
    height: 30rem;

    &.how-to-video-page {
      margin-bottom: 4rem;
    }
  }
}
