.mobile-menu {
  @include animation-preset;
  position: fixed;
  background-color: white;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 27.5rem;
  transform: translate3d(-100%, 0, 0);
  transition: transform 600ms ease-in;
  padding: 1.5rem 1.25rem;
  z-index: 1003;

  &.active {
    transform: translate3d(0, 0, 0);
  }

  .mobile-menu-header {
    @include flex-space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .mobile-menu-header-logo {
      display: block;
      width: 9rem;
    }
  }

  .mobile-menu-links {
    .button-blue {
      display: block;
    }

    .mobile-menu-link {
      font: 600 1rem/1.25rem $font-secondary;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      padding: 1rem 0;
      color: $grey-extra-dark;
    }

    .mobile-menu-link-heading {
      font: 600 1rem/1.25rem $font-secondary;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      margin: 1.25rem 0 0.875rem 0;
      color: $grey-medium;
    }

    .mobile-menu-links-group {
      border-radius: 0.75rem;
      border: 1px solid $grey-light;
      padding: 0 1.25rem;
      margin-bottom: 0.5rem;

      .mobile-menu-links-group-item {
        padding: 0.25rem 0;
        border-bottom: 1px solid $grey-light;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
