.nav {
  width: 100%;
  position: sticky;
  border-bottom: 1px solid $grey-light;

  .nav-announcement {
    background-color: $blue-dark;
    color: white;
    font: 500 0.75rem/1rem $font;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;

    a {
      text-decoration: none;
      color-adjust: white;
    }
  }

  .nav-layout {
    padding: 0.25rem 1rem;
    @include flex-space-between;
    align-items: center;

    .nav-layout-center {
      display: block;
      width: 8rem;
    }

    .nav-desktop {
      display: none;
    }
  }
}
