.tick-bullet-group {
  padding: 1rem 0;

  &.tick-bullet-group-green {
    .tick-bullet {
      &:before {
        background-color: $green;
      }

      .tick-bullet-text {
        color: black;
      }
    }
  }

  .tick-bullet {
    position: relative;
    padding: 0 0 0.5rem 1.625rem;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: calculate-rem(3px);
      left: 0;
      width: 1rem;
      height: 1rem;
      background-color: white;
      border-radius: 50%;
    }

    .tick-bullet-icon {
      display: block;
      color: $blue-dark;
      font-size: 1rem;
      line-height: 1rem;
      position: absolute;
      left: 0.125rem;
      top: calculate-rem(1px);
    }

    .tick-bullet-text {
      font: 500 0.875rem/1.25rem $font;
      color: $blue-dark;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .tick-bullet-group {
    padding: 1.5rem 0;

    .tick-bullet {
      padding-left: 2rem;

      &:before {
        width: 1.25rem;
        height: 1.25rem;
        top: 0.25rem;
      }

      .tick-bullet-icon {
        font-size: 1.25rem;
        top: 0.125rem;
      }

      .tick-bullet-text {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}
