@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html,
body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  width: 100vw;
  overflow: visible;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:focus:focus-visible {
    outline: $green auto 1px;
  }
}

b {
  font-weight: 500;
}

*::-moz-focus-inner {
  border: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}
