.legal-page-header {
  p {
    margin-bottom: 0.5rem;
  }
}

.legal-page {
  max-width: 50rem;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: 500 1.125rem/1.5rem $font;
    margin: 1.25rem 0 0.75rem 0;
  }
}
@media only screen and (min-width: 900px) {
  .legal-page-header {
    text-align: center;

    p {
      margin: 2rem 0 1rem 0;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .legal-page {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.625rem;
      line-height: 2.25rem;
      margin: 2rem 0 1.25rem 0;
    }
  }
}
