<section class="background-grey-extra-light">
  <section class="wrapper-width wrapper-height">
    <h2 class="heading-medium divider-heading divider-heading-centered">
      Nutrients
    </h2>
    <section class="divider divider-centered">
      @@include('./assets/divider.html')
    </section>
    <section>
      <h3 class="nutrient-heading">Macro nutrients</h3>
      <section class="nutrient-group nutrient-group-macro">
        <div class="nutrient nutrient-macro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Nitrogen (N)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Nitrogen (N)
              </h4>
              <p>
                Used by the plant to produce health and strong leaf growth
                whilst also increasing the speed of production. Nitrogen is also
                one of the components of chlorophyll which is the material that
                turns the grass green.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-macro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Phosphorus (P)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Phosphorus (P)
              </h4>
              <p>
                Used to help the plant withstand stress and disease by
                strengthening the root system, help support the formation of
                starches, oils and sugars and aids the transformation of
                sunlight into a chemical energy.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-macro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Potassium (K)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Potassium (K)
              </h4>
              <p>
                Assists with photosynthesis which leads to growth and vigour
                helping the plants to resist disease by keeping metabolic
                functions running smoothly.
              </p>
            </div>
          </section>
        </div>
      </section>
    </section>
    <section>
      <h3 class="nutrient-heading">Micro nutrients</h3>
      <section class="nutrient-group nutrient-group-micro">
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Iron (Fe)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Iron (Fe)
              </h4>
              <p>
                Needed for chlorophyll production (what gives green colour in
                leaves is). Iron deficiency causes yellowing of the leaves.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Boron (B)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Boron (B)
              </h4>
              <p>
                Necessary for calcium to perform its functions in the plant. The
                symptoms of boron deficiency are poor development of the growing
                tip of the plant.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Copper (Cu)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Copper (Cu)
              </h4>
              <p>
                Copper is required for root formation. Deficiency is rare but
                can occur on sandy, peaty and chalky soils with their high pH
                levels.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Manganese (Mn)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Manganese (Mn)
              </h4>
              <p>
                Manganese deficiency is often caused by over liming and is most
                often found on peaty and sandy soils with a high pH. Symptoms
                are similar to iron deficiency.
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Molybdenum (Mo)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Molybdenum (Mo)
              </h4>
              <p>
                Enables the fixation of nitrogen but is only required in minute
                amounts. Deficiency symptoms are similar to nitrogen deficiency
                (with the addition that leaf edges may die).
              </p>
            </div>
          </section>
        </div>
        <div class="nutrient nutrient-micro">
          <button class="nutrient-button" onclick="toggleNutrient(this)">
            <span class="nutrient-button-name">Zinc (Zn)</span>
            <span class="icon-chevron-down"></span>
          </button>
          <section class="nutrient-body">
            <div class="nutrient-body-content">
              <h4 class="heading-small nutrient-button-desktop-name">
                Zinc (Zn)
              </h4>
              <p>
                The effect of zinc deficiency is to hinder the plant’s
                production of chlorophyll. Leaves will show a yellowing whilst
                the leaf veins remain green.
              </p>
            </div>
          </section>
        </div>
      </section>
    </section>
    <section>
      <h3 class="nutrient-heading">And…</h3>
      <section class="nutrient-card">
        <div class="nutrient-card-image">
          <img
            src="/assets/so-and-mo-performance-lawn-feed.jpg"
            alt="Water droplets on lawn"
          />
        </div>
        <div class="nutrient-card-body">
          <h4 class="heading-small">Surfactant</h4>
          <p>
            Our surfactant (also known as a wetting agent) allows water to
            disperse evenly across the plant leaf.
          </p>
          <ul class="tick-bullet-group tick-bullet-group-green">
            <!-- prettier-ignore -->
            @@loop('./tick-bullet.html', [
                {"text": "Improves the uptake of nutrients "}, 
                {"text": "Manages water issues"}, 
                {"text": "Guards against plant stress"},
                {"text": "Safe to beneficial microbes"},
                {"text": "Leads to less dried out (hydrophobic) areas"}
              ])
          </ul>
        </div>
      </section>
    </section>
  </section>
</section>
