<section class="wrapper-height">
  <div class="bottle-viewer-header">
    <div class="wrapper-width bottle-viewer-header-bottles">
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/01-feb-bottle.png"
        alt="February Liquid Lawn Feed Bottle"
      />
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/02-apr-bottle.png"
        alt="April Liquid Lawn Feed Bottle"
      />
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/03-jun-bottle.png"
        alt="June Liquid Lawn Feed Bottle"
      />
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/04-aug-bottle.png"
        alt="August Liquid Lawn Feed Bottle"
      />
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/05-oct-bottle.png"
        alt="October Liquid Lawn Feed Bottle"
      />
      <img
        class="bottle-viewer-header-bottle"
        src="/assets/bottles/06-dec-bottle.png"
        alt="December Liquid Lawn Feed Bottle"
      />
    </div>
    <div class="bottle-viewer-header-grass">
      @@include('./assets/grass-row-blue-dark.html')
    </div>
  </div>
  <div class="wrapper-width">
    <h2 class="heading-medium divider-heading divider-heading-centered">
      The perfect lawn, all year-round
    </h2>
    <div class="divider divider-centered">
      @@include('./assets/divider.html')
    </div>
    <ul class="bottle-viewer">
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button active"
          onclick="viewMonth(this, 'feb')"
        >
          February
        </button>
        <section class="bottle-viewer-month-content active" id="feb">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/01-feb-bottle.png"
                alt="February Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The February spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button"
          onclick="viewMonth(this, 'apr')"
        >
          April
        </button>
        <section class="bottle-viewer-month-content" id="apr">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/02-apr-bottle.png"
                alt="April Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The April spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button"
          onclick="viewMonth(this, 'jun')"
        >
          June
        </button>
        <section class="bottle-viewer-month-content" id="jun">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/03-jun-bottle.png"
                alt="June Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The June spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button"
          onclick="viewMonth(this, 'aug')"
        >
          August
        </button>
        <section class="bottle-viewer-month-content" id="aug">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/04-aug-bottle.png"
                alt="August Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The August spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button"
          onclick="viewMonth(this, 'oct')"
        >
          October
        </button>
        <section class="bottle-viewer-month-content" id="oct">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/05-oct-bottle.png"
                alt="October Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The October spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
      <li class="bottle-viewer-month">
        <button
          class="bottle-viewer-month-button"
          onclick="viewMonth(this, 'dec')"
        >
          December
        </button>
        <section class="bottle-viewer-month-content" id="dec">
          <div>
            <div class="bottle-viewer-month-content-bottle">
              <img
                src="/assets/bottles/06-dec-bottle.png"
                alt="December Liquid Lawn Feed Bottle"
              />
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
              <div class="bottle-viewer-month-content-bottle-grass">
                @@include('./assets/grass.html')
              </div>
            </div>
          </div>
          <div class="rich-text">
            <h3 class="heading-small">The December spray</h3>
            <p>
              The focus is on potassium which strengthens the root system to
              resist disease and winter stress. Low nitrogen promotes colour
              without top growth and the iron is used to suppress moss spores.
            </p>
            <ul>
              <li>Forumation Analysis = 6-2-18 +Fe +Te</li>
              <li>N = 6% (5.8% from Urea)</li>
              <li>P²O⁵ = 2%</li>
              <li>K²O = 2%</li>
              <li>Includes Iron, Traces Elements &amp; a surfactant</li>
            </ul>
          </div>
        </section>
      </li>
    </ul>
  </div>
</section>
