<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Why do I need to feed my lawn?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
      <p>
        Without this supply the grass will not perform, re-growth will be slow
        and the roots will be weakened leading to disease and bare patches.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Do I need anything to apply my lawn feed?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Why do I need to feed my lawn?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Does the lawn feed kill my weeds?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>

<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Are your the products child and pet safe?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    How often do I use the lawn feed?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Does the lawn feed kill moss?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Is So &amp; Mo&trade; environmentally friendly?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Can I keep my feed outside?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Can I recycle the feed bottles?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    Will it fix my bare patches?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <button class="accordion-header" onclick="toggleAccordion(this)">
    What happens if I have some left over?
  </button>
  <div class="accordion-body">
    <div class="rich-text accordion-body-content">
      <p>
        To keep your lawn healthy and in tip top condition a steady supply of
        quality nutrients is a must.
      </p>
    </div>
  </div>
</div>
