<section class="basket-drawer-item">
  <div class="basket-drawer-item-image">
    <img src="/temp/box-small.png" alt="Item name" title="Item name" />
  </div>
  <div>
    <span class="basket-drawer-item-name">The Feed Box & Colour Indicator</span>
    <span class="basket-drawer-item-detail">Lawn size: 0 - 250m&sup2; </span>
    <span class="basket-drawer-item-detail">Quantity: 1</span>
    <button class="basket-drawer-item-button">Remove</button>
  </div>
  <div class="basket-drawer-item-price">
    <span>£179.99</span>
  </div>
</section>
