<div class="basket-drawer" id="basket-drawer">
  <header class="basket-drawer-header">
    <button
      class="button-circle button-circle-light-icon"
      onclick="hideAllNavPanels()"
    >
      <span class="icon-cross"></span>
    </button>
    <span class="basket-drawer-header-title text-centered">Your basket</span>
  </header>
  <section class="basket-drawer-body">
    <!-- prettier-ignore -->
    @@include('./basket-drawer-item.html', {
      "product": "Feed Box & Colour Indicator", 
      "price": "£179.99", 
    })
    @@include('./basket-drawer-item.html', {
      "product": "Backpack sprayer",
      "price": "£79.99", 
    })
    <ul class="transaction-rows">
      <li class="transaction-row">
        <span class="transaction-row-left">Subtotal</span>
        <span class="transaction-row-right">£259.99</span>
      </li>
      <li class="transaction-row">
        <span class="transaction-row-left">Delivery</span>
        <span class="transaction-row-right">Free</span>
      </li>
    </ul>
  </section>
  <footer class="basket-drawer-footer">
    <ul class="transaction-rows">
      <li class="transaction-row">
        <span class="transaction-row-left">Total</span>
        <span class="transaction-row-right">£259.99</span>
      </li>
    </ul>
    <div class="checkout">
      <a href="#" class="button-blue">Checkout</a>
      <span class="checkout-note">Discount codes applied at checkout</span>
      <div class="checkout-payment-options">
        <!-- ACTIVE PATYMENT OPTION ICONS -->
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
        <div class="checkout-payment-options-card">
          @@include('./example-payment-option.html')
        </div>
      </div>
    </div>
  </footer>
</div>
