@@include('./mobile-menu.html')
<nav class="nav">
  <section class="nav-announcement text-centered">
    FREE Next Day Delivery (Before 4pm)
  </section>
  <section class="nav-layout">
    <div class="nav-layout-left">
      <section class="nav-mobile">
        <button class="button-circle" onclick="showNavPanel('mobile-menu')">
          <span class="icon-hamburger"></span>
        </button>
      </section>
      <ul class="nav-link-group nav-desktop">
        <li>
          <a class="nav-link" href="/products-performance-liquid-lawn-feed.html"
            >Lawn feed</a
          >
        </li>
        <li class="nav-link-dropdown" id="nav-dropdown-desktop-1">
          <button
            class="nav-link-dropdown-button"
            onclick="toggleNavDropdownDesktop('nav-dropdown-desktop-1')"
          >
            <span class="nav-link">Sprayers</span>
            <span class="icon-chevron-down"></span>
          </button>
          <ul class="nav-link-dropdown-contents">
            <li>
              <a class="nav-link" href="/products-standard.html"
                >Handheld sprayer</a
              >
            </li>
            <li>
              <a class="nav-link" href="/products-standard.html"
                >Backpack sprayer</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="/why-so-and-mo.html"
            >Why So &amp; Mo&trade;?</a
          >
        </li>
      </ul>
    </div>
    <a class="nav-layout-center" href="/"
      >@@include('../assets/logo-dark.html')</a
    >
    <div class="nav-layout-right">
      <ul class="nav-link-group nav-desktop">
        <li>
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
        <li class="nav-link-dropdown" id="nav-dropdown-desktop-2">
          <button
            class="nav-link-dropdown-button nav-link-dropdown-button-right"
            onclick="toggleNavDropdownDesktop('nav-dropdown-desktop-2')"
          >
            <span class="nav-link">Help</span>
            <span class="icon-chevron-down"></span>
          </button>
          <ul class="nav-link-dropdown-contents">
            <li>
              <a class="nav-link" href="/how-to-use-our-lawn-feed.html"
                >How to use</a
              >
            </li>
            <li>
              <a class="nav-link" href="/measure-your-lawn.html"
                >Measure your lawn</a
              >
            </li>
            <li>
              <a class="nav-link" href="/frequently-asked-questions.html"
                >FAQs</a
              >
            </li>
            <li>
              <a class="nav-link" href="/contact-us.html">Contact us</a>
            </li>
          </ul>
        </li>
        <li><a class="nav-link" href="/our-story.html">Our story</a></li>
      </ul>
      <button
        class="button-circle filled"
        onclick="showNavPanel('basket-drawer')"
      >
        <span class="icon-bag"></span>
      </button>
    </div>
  </section>
</nav>
@@include('./basket-drawer.html')
<div class="overlay" id="nav-overlay" onclick="hideAllNavPanels()"></div>
<div class="shadow-nav"></div>
