<div class="mobile-menu" id="mobile-menu">
  <header class="mobile-menu-header">
    <a class="mobile-menu-header-logo" href="/"
      >@@include('../assets/logo-dark.html')</a
    >
    <button
      class="button-circle button-circle-light-icon"
      onclick="hideAllNavPanels()"
    >
      <span class="icon-cross"></span>
    </button>
  </header>
  <ul class="mobile-menu-links">
    <li>
      <a class="button-blue" href="/products-performance-liquid-lawn-feed.html"
        >Shop now</a
      >
    </li>
    <li>
      <span class="mobile-menu-link-heading">Sprayers</span>
      <ul class="mobile-menu-links-group">
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/products-standard.html"
            >Handheld sprayer</a
          >
        </li>
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/products-standard.html"
            >Backpack sprayer</a
          >
        </li>
      </ul>
    </li>
    <li>
      <span class="mobile-menu-link-heading">Help</span>
      <ul class="mobile-menu-links-group">
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/how-to-use-our-lawn-feed.html"
            >How to use</a
          >
        </li>
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/measure-your-lawn.html"
            >Measure your lawn</a
          >
        </li>
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/blog.html">Blog</a>
        </li>
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/frequently-asked-questions.html"
            >FAQs</a
          >
        </li>
        <li class="mobile-menu-links-group-item">
          <a class="mobile-menu-link" href="/contact-us.html">Contact us</a>
        </li>
      </ul>
    </li>
    <li><a class="mobile-menu-link" href="/our-story.html">Our story</a></li>
  </ul>
</div>
