<section class="background-green">
  <div class="wrapper-width wrapper-height product-guarantee">
    <div>
      <img
        class="product-guarantee-image"
        src="/assets/performance-lawn-feed-with-grass.png"
        alt="Performance Lawn Feed"
      />
    </div>
    <div class="product-guarantee-content">
      <h2 class="heading-large">Ensure your lawn never goes hungry again</h2>
      <ul class="tick-bullet-group">
        <!-- prettier-ignore -->
        @@loop('../tick-bullet.html', [
        {"text": "Liquid Lawn Feed for Lasting Results"}, 
        {"text": "Only 6 Feeds Per Year (All in 1 Box)"}, 
        {"text": "Results in Less Than 3 Days"} 
      ])
      </ul>
      <a class="button-blue" href="/products-performance-liquid-lawn-feed.html"
        >Shop now</a
      >
    </div>
  </div>
</section>
