<section class="background-grey-extra-light sustainability-section">
  <div class="wrapper-width wrapper-height sustainability-section-content">
    <div class="sustainability-section-tree-line">
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
      <div class="sustainability-section-tree-line-tree">
        @@include('../assets/tree.html')
      </div>
    </div>
    <h2 class="heading-medium sustainability-section-heading">
      We plant 10 trees for every order
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <a
      href="https://ecologi.com/"
      target="_blank"
      rel="noopener"
      class="sustainability-section-ecologi"
    >
      <span class="sustainability-section-ecologi-heading"
        >We plant trees with</span
      >
      <div class="sustainability-section-ecologi-logo">
        @@include('../assets/ecologi-logo.html')
      </div>
    </a>
  </div>
  <div class="sustainability-section-tree-cluster-group">
    <div class="sustainability-section-tree-cluster">
      @@include('../assets/tree-cluster.html')
    </div>
    <div class="sustainability-section-tree-cluster">
      @@include('../assets/tree-cluster.html')
    </div>
  </div>
</section>
