.product-guarantee {
  color: $blue-dark;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;

  .product-guarantee-image {
    max-width: 17rem;
  }
}

@media only screen and (min-width: 900px) {
  .product-guarantee {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;

    .product-guarantee-image {
      margin: 0 auto;
      max-width: 22.5rem;
    }

    .product-guarantee-content {
      max-width: 27.5rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .product-guarantee {
    gap: 6rem;

    .product-guarantee-image {
      max-width: 26.75rem;
    }
  }
}
